
*{
    margin:0;
    
}

body {
    max-width: 1000px;
    min-width: 400px;
    padding:0 1.5rem;
    margin:0 auto;
}
h1,h2 {
    font-family: 'Bebas Neue', cursive;  

}

p,h3,a {   
    font-family: 'Noto Sans KR', sans-serif;
    
}

h1 {
    font-size: 2rem;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1.5em;
}


nav ul {
    
    list-style: none;
    display:inline-flex; 
    justify-content: flex-end;   
}

li a {
    font-weight: bold;
    padding-left:1em;
    text-decoration: none;
    color: black;
}

hr {
    border-style: outset;
    border-color: rgb(194, 192, 192);
}

section {
    margin: 2em auto;
}

h2,p {
    padding-bottom: 1em;
}


.portrait {
    margin: 2em 0.5em;
    width:30%;
    min-width: 220px;
    float:right;
    flex-shrink: 0;
    height:30%;
    border-radius:0.5em;
    
}

.projectTitle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding:0.5em 0;
    
}

h3 {
    padding-right: 1em;
    transition: font-size 0.15s ease-in;
}

h3:hover {
    font-size:1.3em;
}
.blackIcon {
    width: 2em;
    padding: 0 0.2em;
}

.projectTitle .blackIcon {
    filter: opacity(80%);
}


.project p {
    display: none;
    list-style: circle;
    margin-left: 1em;
} 

.icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.colorIcon {
    width: 4em;
    padding: 3%;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 40%;
    height: 30%;
    overflow: hidden;
    padding:1%;
    transition: all .2s ease-in-out;
  }
   
  .container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.5em;
    
  }

  .container:hover {
    width: 44%;
    height: 32%;
  }


#contact .icons a {
    padding:5%;
}

footer {
    text-align: center;
}

@media only screen and (max-width:600px) {
    .images {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .container {
        width: 80%;
        height: 60%;
        
      }
      .container:hover {
        width: 90%;
        height: auto;
      }
      nav ul {
    
        list-style: none;
        display:flex; 
        width:250px;
        justify-content: flex-end;  
        flex-wrap: wrap; 
    }
    nav {
        margin-top: 0.5px;
        padding:0 0;
    }

    .blackIcon {
        width: 1.5em;
        padding: 0 0.1em;
    }
    
}